* {
  box-sizing: border-box;
}
.block{
  padding: 20px;
  background-color: chocolate;
  border-radius: 5px;
  margin: 10px;
  font-family: Helvetica, Arial, sans-serif;
}
h1{
  display: inline;
  font-weight: 500;
  font-size: 5vw;
}
.block span{
  float: right;

}
a{
  text-decoration: none;
  color: rgb(65, 61, 61);
}
img.small{
  width: 15rem;
  height: 10rem;
}
button{
  font-size: 0.8rem;
  padding: 0.2rem;
  margin : 0.3rem;
  border-radius: 0.5rem;
  border : 0.1rem #404040 solid;
  background-color: #f0c040;
  width: 90%;
  cursor: pointer;
}
.add,.remove{
  margin: 0.5rem;
  font-size: 1rem;
  padding: 0.06rem;
  border-radius: 0.5rem;
  border : 0.1rem #404040 solid;
  cursor: pointer;
  width: 2rem;
}
.add{
  background-color: green;
}
.remove{
  background-color: red;
}
.text-right{
  text-align: right;
}
